# Python Variables

In [4]:
var1 = "raj"
a = 20
b = 50
print(var1)
print(a)
print(b)

sum =a+b
print(sum)

raj
20
50
70

In [6]:
var1 = 10
var2= 10


var3= var1 + var2
var4= var1 - var2
var5= var1 * var2
var6= var1 / var2


print(var3)
print(var4)
print(var5)
print(var6)

20
0
100
1.0

In [10]:
a = 100
b = 20
c = "Raj"

x,y,z = 1,2,"ABCD"

print(a,b,c , sep=",") 

print(x,y,z  , sep=",")

100,20,Raj
1,2,ABCD

In [11]:
a=b=c=1
a
b
c

print(a,b,c)

1 1 1

In [12]:
s,d,f=12,13,14
f

14

In [13]:
del f

In [14]:
f

NameError: name 'f' is not defined

# Data Types
numerical data type in float complex

In [16]:
a=67
b=99.9999
c=3.14j
d="Raj"
e=True

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

# How to take input from user

In [2]:
##ask user to enter the value of x and store the variable
x = int(input("enter the value of x: "))


##ask user to enter the value of y and store the variable
y = int(input("enter the value of y: "))

##peform any mathematical operation on user input

z =x*y

##print the ans

z

enter the value of x: 10
enter the value of y: 10

100

In [7]:
str1="i like python programing "

str1

'i like python programing '

In [10]:
str2="number one"
str2

'number one'

In [11]:
str3=str1+str2
str3

'i like python programing number one'

In [13]:
##string indexing and slicing

name ="rajpatel"
print(name)
print(len(name))

rajpatel
8

In [17]:
name[0]

'r'

In [18]:
name[-1]

'l'

In [29]:
name1="my name is raj i am from neotech"
print(name1)
print(len(name1))

print("-----(+ev index)-----")

print(name1[1])
print(name1[3])
print(name1[5])
print(name1[7])
print(name1[10])
print(name1[30])

print("-----(-ev index)-----")

print(name1[-10])
print(name1[-30])
print(name1[-5])
print(name1[-7])
print(name1[-1])
print(name1[-3])

my name is raj i am from neotech
32
-----(+ev index)-----
y
n
m


c
-----(-ev index)-----
o

o
n
h
e

#Slicing (23/08/22)

In [1]:
##slicing

name2="my name is raj"
name2[0:2]

'my'

In [2]:
name2[3:7]

'name'

In [3]:
name2[7:]

' is raj'

In [4]:
name2[:8]

'my name '

In [14]:
name2[-2:-5]

''

In [15]:
name2[-5:-1]

's ra'

In [19]:
name2[-5:]

's raj'

In [21]:
name2[:]

'my name is raj'

# String Formatting

In [29]:
str1="{1}{0}{2}".format("my","name","raj")
print("\n print string in positional order:")
print(str1)

 print string in positional order:
namemyraj

In [32]:
str1="{0}{1}{2}".format("my","name","raj")

print("\n print string in positional order:")
print(str1)

 print string in positional order:
mynameraj

# Python List
##lists are mutable

##[]

In [33]:
my_list=[1,2,3,4,5]

In [34]:
my_list

[1, 2, 3, 4, 5]

In [35]:
type(my_list)

list

In [36]:
type(my_list[0])

int

In [39]:
x=[1,2,3,4,3.5,"hello"]

In [40]:
x

[1, 2, 3, 4, 3.5, 'hello']

In [41]:
x[0]

1

In [42]:
x[-1]

'hello'

In [43]:
x[2]

3

In [44]:
x[1:3]

[2, 3]

In [45]:
x[4]="hi"

In [46]:
x[4]

'hi'

In [47]:
x

[1, 2, 3, 4, 'hi', 'hello']

In [50]:
x=input("enter 1st value")
y=input("enter 2nd value")

enter 1st value10

enter 2nd value20

In [49]:
x+y

'1020'

In [51]:
x=int(x)
y=int(y)

x+y

30

# Tuples 

##()

In [55]:
a = ("abcd",745,12,2.23,'raj')
b=("jay",120)

type(a)

tuple

In [56]:
a+b

('abcd', 745, 12, 2.23, 'raj', 'jay', 120)

In [57]:
a*2

('abcd', 745, 12, 2.23, 'raj', 'abcd', 745, 12, 2.23, 'raj')

In [58]:
a[0]

##for indexing use []

'abcd'

# Python Dictionary

In [59]:
empl={}
type(empl)

dict

In [61]:
empl["name"]="raj"
empl["age"]=22
empl["gender"]="M"

In [63]:
empl

{'name': 'raj', 'age': 22, 'gender': 'M'}

In [64]:
empl["name"]

'raj'

In [1]:
empl[0]
##indexing is not possible by index number

NameError: name 'empl' is not defined

# Python Loops  (24/08/22)

# while loop

In [92]:
count = 0
while(count < 9):
    print("the count is: ",count)
    count = count+1

    print("Good Bye!")

the count is:  0
Good Bye!
the count is:  1
Good Bye!
the count is:  2
Good Bye!
the count is:  3
Good Bye!
the count is:  4
Good Bye!
the count is:  5
Good Bye!
the count is:  6
Good Bye!
the count is:  7
Good Bye!
the count is:  8
Good Bye!

In [14]:
count = 0
while(count < 9):
    count = count+1
     print("Raj")

Raj
Raj
Raj
Raj
Raj
Raj
Raj
Raj
Raj

# While loop with Else(while else)

In [34]:
c=0
while c<5:
    print(c,"is less than 5")

    c=c+1 
else: 
    print(c,"is not less than 5")

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is not less than 5

# For Loop

In [38]:
for letter in "python":
    print("current letter:",letter)

current letter: p
current letter: y
current letter: t
current letter: h
current letter: o
current letter: n

In [42]:
a=["raj","parth","jay"]
for letter in a:
    print("current letter:",letter)
    print("Good Bye!")

current letter: raj
Good Bye!
current letter: parth
Good Bye!
current letter: jay
Good Bye!

In [43]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for num in range(10,20):             ##Nesterd Loop
    for i in range(2,num):
        if num%i ==0:
            j=num/i
            print("%d equals %d * %d" % (num,i,j))
            break
        else:
            print(num,"is a prime number")
            break

10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 is a prime number
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number

In [62]:
from math import pi

In [63]:
pi

3.141592653589793

In [66]:
#Find Area Of Circle
r=2
area=pi*r*r
area

12.566370614359172

# Conditional Statement

In [69]:
#if statement

In [70]:
num=5

if num>0:
    print(num,"is positive number")
    print("statement is true")

5 is positive number
statement is true

In [71]:
num=-5

if num>0:
    print(num,"is positive number")
else:
    print(num,"is negetive number")

-5 is negetive number

In [75]:
num=0

if num>=0:
    if num==0:
        print(num,"number is zero")
    else:
        print(num,"is positive number")
else:
    print(num,"is negetive number")

0 number is zero

# Calculator

In [91]:
##creat function for each operation

##for creating and defining a function use"DEF(def)"
##this function add two number

def add(x,y):
    return x+y

##this function subtraction of two number

def sub(x,y):
    return x-y

##this function multiply two number

def mul(x,y):
    return x*y

##this function division two number

def div(x,y):
    return x/y

print("Select Operation")
print("1. Addition")
print("2. Subtraction")
print("3. Multiply")
print("4. Division")

choice = input("Enter Choice(1/2/3/4): ")

num1 = int(input("Enter The First Number: "))
num2= int(input("Enter The Second Number: "))

if choice=="1":
    print(num1,"+",num2,"=", add(num1,num2))
    
elif choice=="2":
    print(num1,"-",num2,"=", sub(num1,num2))
    
elif choice=="3":
    print(num1,"3",num2,"=", mul(num1,num2))
    
elif choice=="4":
    print(num1,"/",num2,"=", div(num1,num2))
    
else:
    print("Invalid Input")

Select Operation
1. Addition
2. Subtraction
3. Multiply
4. Division
Enter Choice(1/2/3/4): 2
Enter The First Number: 10
Enter The Second Number: 10
10 - 10 = 0